<h1>Multi Step Wizard Example:</h1>

<div *ngIf="error" class="error">{{error}}</div>

<div *ngIf="steps.length > 0" class="wizard">
  <h2>{{ steps[currentStepIndex].title }}</h2>

  <form [formGroup]="wizardForm" (ngSubmit)="onSubmit()">
    <div *ngFor="let question of steps[currentStepIndex]?.questions" class="field">
      <label>{{ question.label }}</label>
      <ng-container [ngSwitch]="question.type">

        <input *ngSwitchCase="'input'" type="text" [formControlName]="question.key">

        <input *ngSwitchCase="'numeric'" type="number" [formControlName]="question.key">

        <div *ngSwitchCase="'single-choice'">
          <label *ngFor="let option of question.options">
            <input type="radio" [value]="option" [formControlName]="question.key">{{ option }}
          </label>
        </div>

      </ng-container>
    </div>

    <div class="navigation">
      <button *ngIf="currentStepIndex > 0" type="button" (click)="prevStep()">Previous</button>
      <button *ngIf="currentStepIndex < steps.length - 1" type="button" (click)="nextStep()">Next</button>
      <button *ngIf="currentStepIndex === steps.length - 1" type="submit">Submit</button>
    </div>

    <div class="progress">
      Step {{ currentStepIndex + 1 }}/{{ steps.length }}
    </div>
  </form>
</div>
